body{
background-size: cover;
text-align:center;
}
#MyCanvas{
background-color: antiquewhite;
border-color: yellow;
border-width:5px;
border-style:solid;
}
h1{
color: yellow;
font-family: 'Times New Roman', Times, serif; 
font-size: 40px;
}